# FILE EXCLUSIONS
check_boards.py
watchlist.json
Script.txt
Claude.md
Update_flags.py
*.pyc

# PDF's
*.pdf

# EXCLUDE LOCKED FILES
~$*.xlsx
~$*.xls

# Folder exclusions
.vscode/
Auxi/
Old/
Bak/
Claude/*

# Database/

# O ABAIXO INCLUI
!SAMPLE_resume_with_clickable_links.pdf
!Claude/agent.py
!Claude/config.py
!Claude/Read_scored_jobs_json.py
