# FILE EXCLUSIONS
check_boards.py
check-boards.py
watchlist.json
Script.txt
Claude.md

# PDF's
*.pdf

# EXCLUDE LOCKED FILES
~$*.xlsx
~$*.xls

# Folder exclusions
.vscode/
Auxi/
Old/
Bak/

Claude/
# Database/

# O ABAIXO INCLUI
!SAMPLE_resume_with_clickable_links.pdf
!agent.py
!config.py
!Read_scored_jobs_json.py